OPENAI_API_KEY=sk-proj-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GNEWS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MONGODB_URI=mongodb+srv://admin:password@cluster.mongodb.net/smart-reviewer
API_KEY=smart-reviewer-secret-key-12345
NEXT_PUBLIC_API_KEY=smart-reviewer-secret-key-12345
